# Mypy reports
.mypy_reports

# Pre-commit logs
.pre_commit/

# Python cache
__pycache__/

# Environment variables
.env

# Alembic migrations
alembic/versions/

# Static files
static/media/
static/image/
static/upload/

# Log files
*.log

# Celery beat schedule
celerybeat-schedule.*
